@import 'choosing.css';
{% extends 'base.html' %}
{% block content %}
<hr>
<div
<p style="text-align:center;", font-size="25px;">
</br>
</br>
</br>
</br>
In statistics, polynomial regression is a form of regression analysis in which the relationship
 between the independent variable x and the dependent variable y is modelled
</br>
 as an nth degree polynomial in x. Polynomial regression fits a nonlinear relationship
  between the value of x and the corresponding conditional mean of y, denoted E(y |x).
</br>
  Although polynomial regression fits a nonlinear model to the data, as a statistical
   estimation problem it is linear
 </br>
 , in the sense that the regression function E(y | x) is
   linear in the unknown parameters that are estimated from the data.
 </br>
  For this reason, polynomial regression is considered to be a special case of multiple linear regression.
</p>
</div>



<div class="wrapper">
  <a href="index.html" class="polynomialButton">Polynomial Regression</a>

</div>

{% endblock %}
