{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Logout Page</title>
    <link href="{% static "css/signOut.css" %}" rel="stylesheet" type="text/css">
  </head>
  <body>
    <form method="" action="">
      <div class="form_wrapper">
      <div class="logo_container">Learn ML</div>
      <div class="form_title">Logout</div>
      <div class="inputs_holder">Username:                     </div>
      <div class="form_submit_btn"><button class="btn">Logout</button></div>
      <div class="login_link"><p>Continue learning?     <a>Home page</a></p></div>

      </div>
    </form>
  </body>
</html>
