.homepage >h1 {
      text-align: center;
    margin: 10px;
      padding 5px;
      background-color: lightblue;
    }
    .learn{
      margin: 0;
      padding: 5px;
      background-color: lightblue;
}
.learn >h6 {
  margin: 10px
  padding: 5px
}
      .footer {
        text-align: center;
        padding: 3px;
        background-color: mediumpurple;
        color: black;
      }
      .emailsize > h3 {
        color:black


      }

.right {
  text-align: right;

}
.left{
  text-align: right;
}
img1 {
  float: left;
}
img2 {
  float: right;

}
