.topnav {
overflow: hidden; /* Hide overflow */
background-color: #6090FD; /* Darker blue background color */
}

/* Style the navigation bar links */
.topnav a {
  float: right; /* Make sure that the links stay side-by-side */
  display: block; /* Change the display to block, for responsive reasons */
  color: white; /* White text color */
  text-align: center; /* Center the text */
  padding: 14px 20px; /* Add some padding */
  text-decoration: none; /* Remove underline */
}

.topnav a.left {
  float: left; /* Float a link to the left */
}

/* Change color on hover/mouse-over */
.topnav a:hover {
  background-color: #ddd; /* Grey background color */
  color: black; /* Black text color */
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #6BE1FA;
  color: white;
}
